<%@ Master Language="C#" MasterPageFile="~/masterpages/Khaaaantest_Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="KhaaaantestMasterContent" runat="server">
    <umbraco:Macro ID="Macro3" Alias="Khaaaantest_Contests" runat="server" />
</asp:Content>